body[data-theme="dark"] .text h1{
    color: white;
}
body[data-theme="dark"] .platforms-1{
    background: black;
}
body[data-theme="dark"] .content{
    background: black;
   
}
body[data-theme="dark"] .content span{
    color: rebeccapurple;
   
}
.main{
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 30px;
    margin-top: 80px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 40px;

}

.text p{
    color: black;
    text-align:center;
    font-size: 1rem;
    margin-top: 5px;
    font-weight: 400;
    color:  #6B7280  ;
}
.text h1{
    color: black;
    text-align:center;
    font-size: 2rem;
    font-weight: 700;
    

}
.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;

}
.platforms-1,.platforms-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background: white;
    width: 98%;
    max-width: 800px;
    margin: 10px auto;
    border-radius: 1rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    gap: 10px;
    padding: 20px;


}

.platforms-1 h1{
flex-basis: 100%;
font-size: 1.2rem;

}
.platforms-2 h1{
    flex-basis: 100%;
    font-size: 1.2rem;
}
.platforms-1 div{
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 0.5rem;
}
.platforms-2 div{
    border-radius: 0.5rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    font-size: 0.9rem;
    background:  #F8F9FA;;
}

#yello{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e44d26;
    background-color: rgba(228, 77, 38, 0.1);
    border-color: rgba(228, 77, 38, 0.3);
}
#voilet{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7b85d;
    background-color: rgba(231, 184, 93, 0.1);
    border-color: rgba(231, 184, 93, 0.3);
}
#red{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9370db;
    background-color: rgba(147, 112, 219, 0.1);
    border-color: rgba(147, 112, 219, 0.3);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 0.6rem;
    background-color: #eef1f6;
    padding: 3px 3px;
    gap: 5px;
    margin-bottom: 30px;
}
.content span {

    width: fit-content;
    padding: 5px 20px;
    font-size: 1rem;
   
    color: #0F172A; /* Dark text */
    /* Soft shadow */
}
.active-tab {
    background-color: #f8fafc;
    border-radius: 0.6rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  }

  .contests-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    
  }
  
  .contests-grid > * {
    flex: 1 1 300px; 
    max-width: 400px; 
  }
.content span, .visit-link, .bookmark-icon, #yello, #voilet, #red {
    cursor: pointer;
}