body[data-theme="dark"] .solution-card{
    background-color: black;
}
body[data-theme="dark"] .platform-filters{
    background-color: black;

}
body[data-theme="dark"] .platform-filters span{
    color: white;

}
body[data-theme="dark"] .sticky-content{
    background: black;

}

.sticky{
    position: sticky; 
    top: 50px; 
    overflow: hidden; 
    backdrop-filter: blur(10px);
    z-index: 1000;
    margin-bottom: 10px;

}
.sticky-content{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 0.5rem;
}
.solutions-page {
    min-height:100vh ;
    min-width: 100vw;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.solutions-page h1{
    font-size: 2rem;
    font-weight: 600;
}

.platform-filters {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    background-color: rgba(110, 123, 129, 0.805);
    border-radius: 0.5rem;
    padding: 3px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.platform-filters span{
    padding: 3px 5px;
    font-size: 1.2rem;
    color:black
}


.platform-filters button {
    padding: 8px 12px;
    border: none;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.platform-filters button.active-filter {
    background: #007bff;
    color: white;
}

.solutions-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.solution-card {
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.solution-card img {
    width: 100%;
    border-radius: 5px;
}

.solution-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.solution-card a {
    display: inline-block;
    padding: 8px 12px;
    background: rgba(41, 33, 33, 0.441);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.2s;
}

.solution-card a:hover {
    background-color:rgba(231, 184, 93, 0.1); 
    color: #9370db;
}

.blue{
    border-radius: 0.5rem;
    font-weight: 700;
    background-color: rgba(38, 139, 228, 0.691);

}
.voilet{
    border-radius: 0.5rem;
  
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.784);

}
.green{
    border-radius: 0.5rem;
    font-weight: 700;
    background-color: rgba(16, 238, 127, 0.557);
    
}
.all{
    border-radius: 0.5rem;
    font-weight: 700;
    background-color: rgba(68, 133, 194, 0.771);

}
