*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  
}

body[data-theme="light"] {
    font-family: Arial, sans-serif;
    background-color: #F8F9FA;
    color: black;
}


:root[data-theme="dark"] {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}


.navbar{
    position: fixed;
top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    background-color: rgba(248, 249, 250, 0.8);
    backdrop-filter: blur(10px);
    
   

}
.container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#1F2937 ;
    height: 50px;
    padding: 10px 10px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}


.hidden{
    display: none;
}
.container h1{
    font-size: 1.2rem;
    font-weight: 800;

}
.icon a{
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    padding-top: 1px;
    color: #6B7280;
}